/*
* Override WordPress generated classes to use rems instead of px for scalable component spacing.
*
* https://developer.wordpress.org/advanced-administration/wordpress/css/#wordpress-generated-classes
*
*/

.alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 0.313rem auto 0.313rem auto;
}

.alignright {
  float:right;
  margin:  0 1.25rem 1.25rem;
}

.alignleft {
  float: left;
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img.alignright {
  float: right;
  margin: 0.313rem 0 1.25rem 1.25rem;
}

a img.alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img.alignleft {
  float: left;
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 0.313rem 0.188rem 0.625rem;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption.alignleft {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption.alignright {
  margin: 0.313rem 0 1.25rem 1.25rem;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 0;
  padding: 0 0.188rem 0.313rem;
}
