/*
  Make sure that the contrast ratio of text and interactive elements
  meets level AA of the Web Content Accessibility Guidelines (WCAG 2.2).

  https://www.w3.org/TR/WCAG22/#contrast-minimum
  https://design-system.service.gov.uk/styles/colour/

*/

:root {
  --theme-color-black: #0b0c0d;
	--theme-color-gray: #505a5f;
	--theme-color-red: #a51c30;
	--theme-color-green: #00703c;
	--theme-color-blue: #1d70b8;
	--theme-color-yellow: #fd0;

	--theme-color-link-initial: #0033a6;
	--theme-color-link-hover: #003078;

	--theme-color-border: #b1b4b7;

  --theme-color-white: #fff;
}
