/*
 * This is my own CSS reset.
 *
 * https://piccalil.li/blog/a-more-modern-css-reset/
 * https://getbootstrap.com/docs/5.3/content/reboot/
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--theme-color-white);
  color: var(--theme-color-black);
  font-family: system-ui, -apple-system, sans-serif;
  font-feature-settings: "kern","liga","calt";
  font-kerning: normal;
  font-size: var(--wp--preset--font-size--normal);
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

a {
  color: var(--theme-color-link-initial);
}

a:hover {
  color: var(--theme-color-link-hover);
}

/* Elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Remove default margin in favor of better control in authored CSS */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  overflow-wrap: break-word;
  text-wrap: balance;
}

p {
  margin: 0;
  overflow-wrap: break-word;
  text-wrap: pretty;
}

abbr[title] {
  cursor: help;
  text-decoration: underline dotted;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

small {
  font-size: 0.875rem;
}

blockquote:where(:not(.wp-block)),
figure:where(:not(.wp-block)),
dl,
dd,
pre {
  margin: 0;
  overflow-wrap: break-word;
}

/*
| Remove list styles on ul, ol elements with a list role,
| which suggests default styling will be removed.
*/
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

li img,
p img {
  display: inline-block;
  vertical-align: sub;
}

/* Set shorter line heights on headings and interactive elements */
button,
input,
label {
  line-height: 1.2;
}

/* Inherit fonts for inputs and buttons */
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

iframe {
  border: 0;
}


/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10rem;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Create a root stacking context */
.wp-site-blocks {
  isolation: isolate;
}
